@import "tailwindcss";
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(6, 182, 212, 0.12), /* cyan accent */
    transparent
  );
  animation: shimmer 1.8s infinite;
}
